html, body {
	margin: 0;
	padding: 0;
}

#container {
	background: rgba(200, 222, 255, 0.4);
	width: 80%;
	min-width: 320px;
	margin: 0 auto;
	margin-top: -0.8rem;
	border-radius: 0.5rem;
}

header h1 {
	padding: 1rem 0 0 0;
	font-weight: bold;
	text-align: center;
	color: #607d8b;
}

#bell {
	display: block;
	text-align: center;
}

h2 {
	color: #607d8b;
	text-align: center;
}

#minus, #session-time, #plus {
	float: left;
}

#minus-break, #break-time, plus-break {
	float: left;
} 

.set-session {
	font-size: 1rem;
	padding: 0 0 0 2rem;
	float: left;
}

.set-break {
	padding: 0 2rem 0 0;
	float: right;
	font-size: 1rem;
}

#session-time, #break-time {
	font-size: 2rem;
	padding: 1rem 2rem 0 2rem;
}

#start, #resume, #pause, #reset {
	margin: 0.2rem;
	text-align: center;
	width: 6rem;
	height: 4rem;
	border-radius: 0.5rem;
	font-size: 1.5rem;
}

#minus, #plus, #minus-break, #plus-break {
	border-radius: 0.4rem;
	width: 3rem;
	font-size: 2rem;
	padding: 0.5rem;
	display: block;
	float: left;
}

.pomodoro-clock {
	clear: both;
	padding-top: 2rem;
}

#clock {
	margin: 0 auto;
	width: 29%;
	padding: 60px;
	border: 2px solid #607d8b;
	border-radius: 50%;
	font-size: 5rem;
}

#controls {
	margin-top: 1rem;
}
.center {
	display: block;
	text-align: center;
}

footer {
	margin: 1rem 0 1rem 0;
	padding: 0.5rem;
	text-align: center;
}

/* Media Queries */

@media screen and (max-width: 575px) and (min-width: 325px){
     #container {
    	width: 100%;
    }
}

@media screen and (max-width: 465px) and (min-width: 325px){
     #container {
    	width: 100%;
    }

    .set-session, .set-break {
    	clear: both;
    	display: inline-block;
    	margin: 0 auto;
    	margin-left: 8rem;
    	padding: 0;
    	float: left;
    	
    
    }

}
